<!DOCTYPE html>
<html>

<head>
<!--CHANGE title of webpage (or not)-->
	<title>Patrick's Website - Ooh, it's so sexy
	</title>
	<link rel="stylesheet" type="text/css" href="housing.css">

</head>

<body class="indexpic">

	<!--Navigation bar-->
	<header>
		<nav>
<!--CHANGE Nav Bar Title-->
			<p>Housing</p>
<!--CHANGE Names of Nav Bar Buttons-->
			<ul class="menu">
				<li class="menuitem"><a class="active">Home</a></li>
				<li class="menuitem"><a href="housing2.html">Analysis</a></li>
				<li class="menuitem"><a href="housing3.html">Prediction</a></li>
				<li class="menuitem"><a href="housing4.html">Contact</a></li>
				

			

			</ul>
		</nav>
	</header>

	<!--Table of Contents-->


	<a name="top"></a>
	<br>
	<br>
	<br>
	<br>
<!--
	<div class="table" style="margin-top: 120px; background-color:lightgray;">
-->

<!--CHANGE Title of Page above Table of Contents-->
<!--
		<hr>
		<h2 style="font-size: 3em; display: block; text-align: center; margin: auto">HOME</h2>
		<hr>
-->
<!--CHANGE Table of Contents to match actual contents-->
<!--
		<ul class="contents">
			<li class="contentsitem"><a href="#firstsection">Title Section</a></li>
			<li class="contentsitem"><a href="#secondsection">Next Section</a></li>
			<li class="contentsitem"><a href="#thirdsection">Third Section</a></li>
		</ul>
	</div>
-->
	<!--Contents-->

	<a name="firstsection"></a>
	<br>
	<br>
	<br>
	<br>
	<div class="center translucent">
<!--CHANGE First Section Name-->
		<h2>Housing, Sweet Housing</h2>
		<br>
<span>
			<span class="blurb">
				"The way we create housing isn't working for many Americans."
			</span>
		<p style="text-align: left">The American housing market shows a sharp divide of haves and have-nots.
			Inequality is widening as competition remains fierce for scant resources.
			Finding housing is getting harder for those of lesser means, but maybe a tiny bit better for everyone else.
			Homeownership provides a bit of an economic edge for those who can grab it, those being ones who already have well means.
			More and more, however, it seems the way we create housing isn't working for many, if not increasingly most, Americans.
		</p>
	<br>
	<br>
			<span class="blurb" style="float: left;">
				"Prices can keep going up as long as the growing demand remains unsatiated."
			</span>	
		<p style="text-align: right">
			"The duration of today's tight conditions is unprecedented," the researchers said. Because housing is tight, it seems that prices can keep going up as long as the growing demand stays unsatiated.
		 It's not just that there's not building enough to keep up with population and household growth, there's not even building enough to keep up with homes becoming obsolete. The Joint Center estimates that there was a shortfall of about 260,000 units in 2018, and that construction has barely kept pace with household growth for eight years. That tracks with other estimates of a housing shortfall in the millions.
		</p>

	<a name="secondsection"></a>
		<br>
		<br>
			<hr>
</span>
		<br>
		<br>
	<!--
		<a href="#top">Back to Top</a>
	-->
<!--CHANGE Second Section Name-->
		<h2>All Work and No House</h2>
		<br>
		<br>
			<p style="text-align: justify">More higher-income people are renting. Harvard researchers say there were 311,000 more tenant households earning $75,000 or more in 2018 than in the year before. That’s great for developers and landlords, but not so hot for households that need lower-cost rents. 
				As the researchers note, "The focus of new construction on higher-cost units has thus shifted the overall distribution of rents upward." Over just one year from 2016-2017, the supply of newly-built homes renting for less than $800 fell by 1 million, and those units aren't being replenished. In the first quarter of 2018, the researchers say, only 9% of apartments completed had asking rents below $1,050.
		<br>
		<br>			
			And worse, rent hasn't gotten any cheaper.
			With all these conditions in mind, it's no wonder that more American renters are "cost-burdened." One-fifth of households that rent are paying between 30% and 50% of their income on housing costs, while one-quarter are paying more than 50%.
			</p>
		<br>
		<br>
			<ul style="color: dimgray; font-style: italic; list-style: circle; margin: 0 0 0 50px; font-size: 16pt;">
				<li>More higher-income people are renting</li>
				<li>Focus has shifted to building higher-cost units</li>
				<li>Rent has only been increasing</li>
			</ul>
		<br>
		<br>
<!--
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<br>
-->
		<br>
		<br>
		<br>
		<div class="chart" style="max-width: 750px; margin: auto;">
			<img src="img/page3back.jpg" height="auto" width="500px" style="margin: 0px 20px 20px 0px; float: left;">
		<a name="thirdsection"></a>
		<p class="extrainfo" style="text-align: right">Here's a cute little picture of a bunch of houses or something. In each house are lots of people, possibly multiple families. However, despite their abilities to house multiple families each, these houses are all termed "single-family homes." Other names for such houses are stand-alone home, single detached dwelling, detached residence or detached house. These are in opposition to a multi-family residential dwelling as an apartment complex.</p>
		</div>
		<br>
		<br>		
		<br>
		<br>		
		<br>
		<br>
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<br>
		<br>
			<hr>
		<br>
		<br>
<!--CHANGE Name of Third Section-->
		<h2>Conclusions, Further Research, and Possible Solutions</h2>
		<br>
		<br>
		<p style="text-align: justify">In this section, you will see much more text and blurbiness. Lorem Ipsum and all that jazz. Lorem, ipsum
			dolor sit amet consectetur adipisicing elit. Doloremque labore vel molestias alias at maxime consectetur rem
			libero pariatur quidem laudantium laborum facilis non, praesentium ut odit fuga optio doloribus. Again and
			again and again. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod exercitationem autem quis
			reiciendis nostrum. Nesciunt voluptates sunt reprehenderit eos? Sed adipisci illum amet ipsam repudiandae
			minus eaque repellendus quia reprehenderit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi
			soluta libero deleniti rem obcaecati temporibus beatae dolorem quidem aliquam quaerat fuga quis,
			consequuntur repudiandae, quibusdam fugiat. Quam recusandae vel adipisci.</p>
		<br>
		<br>
			<a href="#top">Back to Top</a>
		<br>
		<br>
		<br>
		<br>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</body>
<!-- I can't get this to work
<script type="text/javascript" src="housing.js">
</script>
-->

</html>