<!DOCTYPE html>
<html>

<head>

	<title>Patrick's Website - Ooh, it's so sexy
	</title>
	<link rel="stylesheet" type="text/css" href="housing.css">

</head>
<!--CHANGE body class for background pic-->

<body class="page2pic">

	<!--Navigation bar-->
	<!--CHANGE which a link is "active-->
	<header>
		<!--	<div class="center" style="background-color: white;"> -->
		<nav>
			<p>Housing</p>
			<ul class="menu">
				<li class="menuitem"><a href="housing1.html">Home</a></li>
				<li class="menuitem"><a class="active">Analysis</a></li>
				<li class="menuitem"><a href="housing3.html">Prediction</a></li>
				<li class="menuitem"><a href="housing4.html">Contact</a></li>
				
				
			</ul>
		</nav>
		<!--	</div> -->
	</header>
	<br>
	<br>


	<a name="top"></a>

	<div class="table" style="margin-top: 80px; background-color:lightgray;">
		<!--Table of Contents-->
		<!--CHANGE Title of Page-->
		<hr>
		<h2 style="font-size: 3em; display: block; text-align: center; margin: auto">Analysis of Housing</h2>
		<hr>
		<!--CHANGE Table of Contents to match content below -->
		<ul class="contents">
			<li class="contentsitem"><a href="#firstsection">Size and Location</a></li>
			<li class="contentsitem"><a href="#secondsection">Effect of Crime Rate</a></li>
			<li class="contentsitem"><a href="#thirdsection">State Minimum Wage and Housing Prices</a></li>
			<li class="contentsitem"><a href="#fourthsection">Mortgage and Median Income</a></li>
			<li class="contentsitem"><a href="#fifthsection">Rate of Building</a></li>
		</ul>
	</div>

	<!--Contents-->

	<a name="firstsection"></a>
	<br>
	<br>
	<br>
	<br>
	<div class="center translucent">
		<h2>"Size doesn't matter." "It's all about location."</h2>
		<br>
		<br>
		<p> Houses come in many shapes and sizes. Pricing based on such is pretty predictable - the more rooms a house
			has, the more expensive it is. Location is said to be another factor in predicting the price of a particular
			house. Let's look at a few tables below in which we attempt to find some trends by visualizing housing
			prices by state.</p>
		<br>
		<div class="chart">
			<img src="../images/1bed.png" />
			<img src="../images/2bed.png" />
			<img src="../images/3bed.png" />
			<img src="../images/4bed.png" />
			<img src="../images/5plus.png" />
			<img src="../images/All_homes.png"/>
			<img src="../images/top.png" />
			<img src="../images/bottom.png" />
			<img src="../images/histhomes.png" />


			<br>
			<p class="extrainfo" style="text-align: justify; margin: 20px 20px 20px 20px;">When ranking prices of house
				size by state, it's easy to see which locations cost more to live in. As the visualized data above show,
				though not exactly the same, the location ranking for housing prices by size are very similar; you will
				find the top members are the same for each data set, albeit in slightly different orders. As expected,
				we see that the TOP THREE locations are HAWAII, DISTRICT OF COLUMBIA AND CALIFORNIA.
			</p>
		</div>

		<br>
		<br>
		<a name="secondsection"></a>
		<br>
		<br>
		<br>
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<hr>
		<br>
		<br>
		<h2>"Crime doesn't pay for housing"</h2>
		<br>
		<br>
<!--
		<p>What is it about the location that draws or repels people to it? Does one force affect the other? Below, we
			look at crime rates to see its potential role in affecting housing prices.</p>
-->		
		<br>
		<div class="chart" style="display: inline-block; float: left; background-color: lightgray; border-color: dimgrey;">
			<img src="../images/crimes.png" />

		</div>
		<img src="../images/cimeslines.png" width="500px" style="margin: 40px 20px 150px 20px;" />
		<br>
		<br>
        <p>What is it about the location that draws or repels people to it? Does one force affect the other? Below, we
				look at crime rates to see its potential role in affecting housing prices. Naturally, one might assume that high crime would predict lower housing prices, and further that low crime
			would predict higher housing prices, but such is not the case. Neither the average crime rate nor the
			overall crime trend shown in the charts above seem to affect prices in housing or even aid in prediction of
			such. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae magnam necessitatibus quisquam praesentium veniam corrupti quibusdam repudiandae amet. Exercitationem totam veritatis eaque! Assumenda eligendi excepturi ipsum aliquid perferendis ex.

		</p>
		<br>
		<br>
		<p> What is it about the location that draws or repels people to it? Does one force affect the other? Below, we
				look at crime rates to see its potential role in affecting housing prices. Naturally, one might assume that high crime would predict lower housing prices, and further that low crime
			would predict higher housing prices, but such is not the case. Neither the average crime rate nor the
			overall crime trend shown in the charts above seem to affect prices in housing or even aid in prediction of
			such. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae magnam necessitatibus quisquam praesentium veniam corrupti quibusdam repudiandae amet. Exercitationem totam veritatis eaque! Assumenda eligendi excepturi ipsum aliquid perferendis ex.
		</p>
		<a name="thirdsection"></a>
		<br>
		<br>
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<br>
		<hr>
		<br>
		<br>
		<h2>Do earned wages earn a living?</h2>
		<br>
		<br>
		<br>
		<div class="chart" style="float: right; margin: 0px 20px 10px 20px">
			<img src="../images/minimum.png" />
		</div>
		<p style="text-align: left">Let's first take a look at the minimum wage per state, both as an indication of its economic wealth as well
				as the potential for such of its citizens, to see if it is an indicator and perhaps even predictor of
				housing prices. Lorem ipsum dolor sit amet consectetur. "There is no one who loves pain itself, who seeks after it and wants
				to have it, simply because it is pain."
			</p>
		<br>
		<br>
		<p style="text-align: left"> What makes a house a home is not what you put into it but what it is that you can put anything into. It's essentially a somewhat stable structure or fixture meant to shield you from the elements.
			But such a minimalist definition doesn't meant you can get a house on minimal means.

		</p>
		<br>
		<br>
		<p style="text-align: left"> But perhaps there's more to it than that. Let's look below and see, first of all, what there is, if anything.
		</p>


		<div class='tableauPlaceholder' id='viz1564639699608' style='position: relative'><noscript><a href='#'><img
						alt=' '
						src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;D7&#47;D7JJMH8NZ&#47;1_rss.png'
						style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
				<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
				<param name='embed_code_version' value='3' />
				<param name='path' value='shared&#47;D7JJMH8NZ' />
				<param name='toolbar' value='yes' />
				<param name='static_image'
					value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;D7&#47;D7JJMH8NZ&#47;1.png' />
				<param name='animate_transition' value='yes' />
				<param name='display_static_image' value='yes' />
				<param name='display_spinner' value='yes' />
				<param name='display_overlay' value='yes' />
				<param name='display_count' value='yes' /></object></div>
		<script
			type='text/javascript'>                    var divElement = document.getElementById('viz1564639699608'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		<div class='tableauPlaceholder' id='viz1564639901977' style='position: relative'><noscript><a href='#'><img
						alt=' '
						src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;B2&#47;B2XD72HX7&#47;1_rss.png'
						style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
				<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
				<param name='embed_code_version' value='3' />
				<param name='path' value='shared&#47;B2XD72HX7' />
				<param name='toolbar' value='yes' />
				<param name='static_image'
					value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;B2&#47;B2XD72HX7&#47;1.png' />
				<param name='animate_transition' value='yes' />
				<param name='display_static_image' value='yes' />
				<param name='display_spinner' value='yes' />
				<param name='display_overlay' value='yes' />
				<param name='display_count' value='yes' /></object></div>
		<script
			type='text/javascript'>                    var divElement = document.getElementById('viz1564639901977'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		<div class='tableauPlaceholder' id='viz1564640166424' style='position: relative'><noscript><a href='#'><img
						alt=' '
						src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JY&#47;JY8MJ7JWQ&#47;1_rss.png'
						style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
				<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
				<param name='embed_code_version' value='3' />
				<param name='path' value='shared&#47;JY8MJ7JWQ' />
				<param name='toolbar' value='yes' />
				<param name='static_image'
					value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JY&#47;JY8MJ7JWQ&#47;1.png' />
				<param name='animate_transition' value='yes' />
				<param name='display_static_image' value='yes' />
				<param name='display_spinner' value='yes' />
				<param name='display_overlay' value='yes' />
				<param name='display_count' value='yes' /></object></div>
		<script
			type='text/javascript'>                    var divElement = document.getElementById('viz1564640166424'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

		<br>
		<br>
		<br>			
		<br>
		<br>
		<br>
		<br>
		<br>
		<a name="fourthsection"></a>
		<br>
		<br>
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<br>
		<br>
		<hr>
		<br>
		<br>
		<h2>Income one pocket and out the other</h2>
		<br>
		<br>
	<!--
		<p>
			Oops! Sorry I was falling asleep. But here's an intro statement.
		</p>
	-->
		<br>
		<br>
		<div class="class" style="backgroud-color: lightgray; border-color: dimgrey;">
			<div class='tableauPlaceholder' id='viz1564640250277' style='position: relative'><noscript><a href='#'><img
							alt=' '
							src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CW&#47;CWWWM536M&#47;1_rss.png'
							style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
					<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
					<param name='embed_code_version' value='3' />
					<param name='path' value='shared&#47;CWWWM536M' />
					<param name='toolbar' value='yes' />
					<param name='static_image'
						value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CW&#47;CWWWM536M&#47;1.png' />
					<param name='animate_transition' value='yes' />
					<param name='display_static_image' value='yes' />
					<param name='display_spinner' value='yes' />
					<param name='display_overlay' value='yes' />
					<param name='display_count' value='yes' /></object></div>
			<script
				type='text/javascript'>                    var divElement = document.getElementById('viz1564640250277'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			<br>
			<div>Let's Find Some Correlation</div>
			<br>
			<div class='tableauPlaceholder' id='viz1564640547973' style='position: relative'><noscript><a href='#'><img
							alt=' '
							src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;P8&#47;P8SMP4QDQ&#47;1_rss.png'
							style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
					<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
					<param name='embed_code_version' value='3' />
					<param name='path' value='shared&#47;P8SMP4QDQ' />
					<param name='toolbar' value='yes' />
					<param name='static_image'
						value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;P8&#47;P8SMP4QDQ&#47;1.png' />
					<param name='animate_transition' value='yes' />
					<param name='display_static_image' value='yes' />
					<param name='display_spinner' value='yes' />
					<param name='display_overlay' value='yes' />
					<param name='display_count' value='yes' /></object></div>
			<script
				type='text/javascript'>                    var divElement = document.getElementById('viz1564640547973'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

		</div>
		<br>
		<br>

		<p>
			At The End of this it's Hard to confirm that there's a relation between this 2 variables.
		</p>

		<br>
		<a name="fifthsection"></a>
		<br>
		<br>
		<br>
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<hr>
		<br>
		<br>
		<h2>Keeping Up With Building</h2>
		<br>
		<br>
	<!--
		<p>
			My mental stores are waning. But here's another intro blurb of sorts.
		</p>
	-->
		<br>
		<br>
		<div class='tableauPlaceholder' id='viz1564641652660' style='position: relative'><noscript><a href='#'><img
						alt=' '
						src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JT&#47;JTHPFKP8N&#47;1_rss.png'
						style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
				<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
				<param name='embed_code_version' value='3' />
				<param name='path' value='shared&#47;JTHPFKP8N' />
				<param name='toolbar' value='yes' />
				<param name='static_image'
					value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JT&#47;JTHPFKP8N&#47;1.png' />
				<param name='animate_transition' value='yes' />
				<param name='display_static_image' value='yes' />
				<param name='display_spinner' value='yes' />
				<param name='display_overlay' value='yes' />
				<param name='display_count' value='yes' /></object></div>
		<script
			type='text/javascript'>                    var divElement = document.getElementById('viz1564641652660'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		<div class='tableauPlaceholder' id='viz1564642167987' style='position: relative'><noscript><a href='#'><img
						alt=' '
						src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;J9&#47;J9NSYFKRG&#47;1_rss.png'
						style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
				<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
				<param name='embed_code_version' value='3' />
				<param name='path' value='shared&#47;J9NSYFKRG' />
				<param name='toolbar' value='yes' />
				<param name='static_image'
					value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;J9&#47;J9NSYFKRG&#47;1.png' />
				<param name='animate_transition' value='yes' />
				<param name='display_static_image' value='yes' />
				<param name='display_spinner' value='yes' />
				<param name='display_overlay' value='yes' />
				<param name='display_count' value='yes' /></object></div>
		<script
			type='text/javascript'>                    var divElement = document.getElementById('viz1564642167987'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
	<!--
		<div class="chart">

			<img src="img/page2back.jpg" />
			<img src="img/page2back.jpg" />
		</div>
	-->
		<br>
		<br>
	<!--
		<p>
			Take it on home! Guess what? San Francisco has crazy prices for no reason. It follows no trend. It's greedy
			and money-hungry.
		</p>
	-->
		<br>
		<br>
		<a href="#top">Back to Top</a>
	</div>
	<br>
	<br>
	<br>
</body>
<!-- I can't get this to work
<script type="text/javascript" src="housing.js">
</script>
-->


</html>