<!DOCTYPE html>
<html>

<head>

	<title>Patrick's Website - Ooh, it's so sexy
	</title>
	<link rel="stylesheet" type="text/css" href="housing.css">

</head>

<body class="page4pic">

	<!--Navigation bar-->
	<header>
		<nav>
			<p>Housing</p>
			<ul class="menu">
				<li class="menuitem"><a href="housing1.html">Home</a></li>
				<li class="menuitem"><a href="housing2.html">Analysis</a></li>
				<li class="menuitem"><a href="housing3.html">Prediction</a></li>
				<li class="menuitem"><a class="active">Contact</a></li>

				

			</ul>
		</nav>
	</header>

	<!--Table of Contents-->
	<a name="top"></a>
	<br>
	<br>
	<br>
	<br>

	<div class="table" style="margin-top: 120px; background-color:lightgray;">
<!--CHANGE Title of Page-->
		<hr>
		<h2 style="font-size: 3em; display: block; text-align: center; margin: auto">Contact</h2>
		<hr>
<!--CHANGE Table of Contents-->
		<ul class="contents">
			<li class="contentsitem"><a href="#firstsection">Patrick S. Mbouatcheu</a></li>
			<li class="contentsitem"><a href="#secondsection">Sipaju2@gmail.com</a></li>
			<li class="contentsitem"><a href="#thirdsection">415-919-8505</a></li>
		</ul>
	</div>
<!--
	Contents
	<a name="firstsection"></a>
	<br>
	<br>
	<br>
	<br>
	<div class="center translucent">
		<h2>Things You Could Know</h2>
		<br>
		<br>
		<p> Here's some information about this section. This section was put here as a bunch of words to be a place
			holder. This is supposed to be long enough to make a point of taking of a nice space. Can you see it here?
			Yes, indeed, this is taking up space on the page. This is supposed to be a place where you would put stuff
			that you want people to read.</p>
		<a name="secondsection"></a>
		<br>
		<br>
		<p class="extrainfo">And here's some <a href="#">extra info</a> about the section above.</p>
		<br>
		<br>
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<hr>
<br>
<br>
		<h2>Things You Should Know</h2>
		<br>
		<br>
		<p>This is just a basic pattern of things
			<br>
			<ul style="color: dimgray; font-style: italic; list-style: circle; margin: 0 0 0 30px;">
				<li>Thing 1</li>
				<li>Thing 2</li>
				<li>Thing 3</li>
			</ul>
		</p>
		<br>
		<br>
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<br>
		<hr>
		<br>
		<br>
		<br>
		<div class="chart" style="max-width: 600px; margin: auto;">
		
			<img src="index1.jpg" height="auto" width="350px" style="margin: 0px 20px 20px 0px; float: left;">
		
		<a name="thirdsection"></a>
		<p class="extrainfo">Here's a cute little picture of a bunch of houses or something. In each house are lots of people, possibly multiple families. However, despite their abilities to house multiple families each, these houses are all termed "single-family homes." Other names for such houses are stand-alone home, single detached dwelling, detached residence or detached house. These are in opposition to a multi-family residential dwelling as an apartment complex.</p>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<br>
		<br>
		<hr>
		<br>
		<br>
		<h2>Things You Would Know</h2>
		<br>
		<br>
		<p>In this section, you will see much more text and blurbiness. Lorem Ipsum and all that jazz. Lorem, ipsum
			dolor sit amet consectetur adipisicing elit. Doloremque labore vel molestias alias at maxime consectetur rem
			libero pariatur quidem laudantium laborum facilis non, praesentium ut odit fuga optio doloribus. Again and
			again and again. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod exercitationem autem quis
			reiciendis nostrum. Nesciunt voluptates sunt reprehenderit eos? Sed adipisci illum amet ipsam repudiandae
			minus eaque repellendus quia reprehenderit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi
			soluta libero deleniti rem obcaecati temporibus beatae dolorem quidem aliquam quaerat fuga quis,
			consequuntur repudiandae, quibusdam fugiat. Quam recusandae vel adipisci.</p>
		<br>
		<br>
		<a href="#top">Back to Top</a>
		<br>
		<br>
		<br>
		<br>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
-->
</body>
<!-- I can't get this to work
<script type="text/javascript" src="housing.js">
</script>
-->

</html>